* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: #ffa500;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

h1{
    font-family: 'Dawning of a New Day', Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: #ffa500;
}